







<b>BODY_SCAN</b>
	{ PHYSICAL_SCAN, HEALTH SCAN }

	<b>PUBLISH</b>
		# change setup.py version
		
		(rm -rf dist && python3 -m build --sdist && twine upload dist/*)
		(git commit -am "0.0.20" && git tag 0.0.20)

	<b>BUILD</b>
		(cd STRUCTURE && pip install --requirement MODULES_PIP.UTF8 --target MODULES_PIP)

	<b>STATUS</b>
		<b>START</b>
			#
			#	CHANGE UT_STATUS MODULE SELECTOR
			#
			(cd STATUS && python -m unittest *STATUS.py)
	
		<b>BUILD</b>
			
			#
			#	ADD THE SOURCE MODULES REQUIREMENT MODULES
			#
			#		THESE NEED TO BE THE SAME AS THE "setup.py" "install_requires"
			#
			(cd STATUS && pip install --requirement STATUS_MODULES_PIP.UTF8 --target STATUS_MODULES_PIP)
			
		<b>BUILD_PIP_DIST_CHECK</b>
			(cd STRUCTURE/MODULES_DIST && rm -rf *)
			
			#
			#	INSTALL THE LATEST VERSION OF THE "BODY_SCAN" FROM PIP
			#
			(cd STRUCTURE && pip install "BODY_SCAN==0.0.17" --target MODULES_DIST)
			
			
	<b>PERTINENT</b>
		https://github.com/locustio/locust
		
		PYTEST
		
		WARD
		
		UNITTEST