


<b>Lentils License</b>

<main>
	<p>
		THIS IS A LENTILS PLANT THAT YOU FOUND
	GROWING ON LAND THAT YOU HAVE HAD
	100% CLAIM TO FOR THE LAST 781 PLANETARY ORBITS
	WHEN YOU CLAIMED THE LAND. 
	</p>

	<p>
		PRELIMINARY SCANS INDICATE THAT IT IS NEARLY
	COMPLETELY EQUAL TO LENTILS PLANTS 
	THAT HAD BEEN GROWING THERE WHEN YOU CLAIMED THE LAND.
	</p>

	<p>
		ON THE A LEAF OF THE PLANT, ALMOST AS IF GROWN 
	THERE NATURALLY BY THE VOLITION OF THE PLANT,
	IS RAISED BRAILLE LETTERING THAT NEARLY BLENDS
	IN COMPLETELY WITH THE TEXTURE OF THE LEAF.
	</p>

	<p>
		THE LOCAL USA VERNACULAR INTERPRETATION
	MIGHT BE SOMETHING LIKE:

	"everyone is welcome to send any amount of USA money to 
	https://www.paypal.com/paypalme/gracesbio
	for any reason."
	</p>

	<p>
	PERHAPS THOUGH, IT'S NOT ENTIRELY UNLIKELY
	THAT THE PECULIARLY DESIGNED LEAF WAS THE EFFECT OF ANOTHER 
	ORGANISM, COMPANY, OR WEATHER OCCURRENCE.
	</p>

	<p>
	AND FUNNY ENOUGH, SUDDENLY THE DOTS ON THE LEAF BEGIN
	TO TAKE FLIGHT, APPEARING AS IF THEY WERE SMALL ORGANISMS
	THEMSELVES THE ENTIRE TIME.
	</p>

</main>

<script>


</script>